
<hr/> 
<p>Login</p>
   
<div class="form-floating mb-3">
  <input type="email" class="form-control" [(ngModel)] = "username" />
  <label for="floatingInput">Email address</label>
</div>
  
<div class="form-floating mb-3">
  <input type="password" class="form-control" [(ngModel)] = "passwd" />
  <label for="floatingInput">Password</label>
</div>


<p><button (click)="login()" class="btn btn-primary">Submit</button> </p>

<nav class="navbar navbar-light bg-light">
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </nav>
